.articles-preview-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.articles-preview-item__pic {
  display: block;
}
.articles-preview-item__pic img {
  width: 100%;
  border-radius: 15px;
}
.articles-preview-item__owner {
  display: flex;
  align-items: center;
  gap: 25px;
}
.articles-preview-item__owner img {
  max-width: 200px;
}
@media screen and (max-width: 768px) {
  .articles-preview-item__owner img {
    max-width: 150px;
  }
}