.user-profile
    &__head
        display: grid
        grid-template-columns: 160px 1fr
        gap: 25px
    &__details
        padding: 10px 30px
        background: #fff
        border-radius: $border-radius
        box-shadow: $box-shadow-regular
        &__btn
            background: none
            border: none
            padding: 0
            margin: 0
            &[aria-expanded="true"]
                > svg
                    transform: rotate(180deg)
        &__body
            padding: 20px 0